<%- include("../partials/header") %>
<div class="container text-center">
    <h1 class="display-5 mt-3">Edit Comment</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form class ="form-group" action="/campgrounds/<%= camp_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <input class="form-control mb-3" type="text" name="comment[text]" value="<%= comment.text %> " >
            <button class="btn btn-primary btn-lg btn-block mt-3">Submit</button>
        </form>
        <a href="/campgrounds">Back</a>
    </div>
    
    

</div>

<%- include("../partials/footer") %>